{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "> 1%"],
        "node": 4
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }],
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }]
  ]
}
