parser: "babel-eslint"

env:
  node: true
  mocha: true

ecmaFeatures:
  arrowFunctions: true
  blockBindings: true
  classes: true
  defaultParams: true
  destructuring: true
  forOf: true
  modules: true
  objectLiteralComputedProperties: true
  objectLiteralDuplicateProperties: true
  objectLiteralShorthandMethods: true
  objectLiteralShorthandProperties: true
  templateStrings: true
  restParams: true
  spread: true
  superInFunctions: true

rules:
  no-global-strict: 0
  no-shadow: 0
  strict: 1
  no-undef: 1
  no-use-before-define: 0
  consistent-return: 0
  comma-dangle: [2, "always-multiline"]
  no-process-exit: 0

  quotes: [2, "single"]
  indent: [2, 2]
  no-mixed-spaces-and-tabs: [1, "smart-tabs"]
  no-spaced-func: 1
  space-after-keywords: [1, "always"]
  space-before-function-paren: [2, {"anonymous": "always", "named": "never"}]
  space-before-blocks: [1, "always"]
  no-underscore-dangle: 0
