/**
 * Map of colors for quick grabbing.
 *
 * @see {function} color
 *
 * @type Map
 */
$colors: (
  "pink":         #c6538c,
  
  "light-purple": #e9e4f1,
  "purple":       #998099,
  
  "green":        #699,

  "light-grey":   #e0e0e0,
  "medium-grey":  #ddd,
  "dark-grey":    #444,

  "white":        #f9f9f9
) !global;

/**
 * Map of breakpoints for responsive design.
 *
 * @see {mixin} respond-to
 *
 * @type Map
 */
$breakpoints: (
  "small":  (max-width: 600px),
  "medium": (min-width: 601px)
) !global;


/** 
 * Z-indexes layers.
 *
 * @see {function} z
 * 
 * @type Map
 */
$z-indexes: (
  "goku"       9001,
  "modal"      5000,
  "dropdown"   4000,
  "social"     3000,
  "default"       1,
  "below"        -1
) !global;


/**
 * Sidebar width
 *
 * @type Number
 */
$sidebar-width: 280px;