/**
 * Univeral box-sizing reset
 */
html {
  box-sizing: border-box;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/**
 * Body rules
 */
body {
  font: 1em/1.35 'Roboto', 'Helvetica', sans-serif;
  overflow: auto;
  margin: 0;
  height: 100%;
}

/**
 * Links
 */
a {
  transition: .15s;
  text-decoration: none;
  color: color("pink");
  
  &:hover {
    &, code {
      color: color("dark-grey");
    }
  }
}

/**
 * Code
 */
:not(pre) > code {
  padding: 2px 4px;
  color: color("pink");
  background-color: white;
  white-space: nowrap;
  border-radius: 3px;
  border: solid 1px #DAD3D6;
}

/**
 * Tables
 */
@include respond-to("small") {
  table, tbody, tr, td, th {
    display: block;
  }

  thead {
    @include visually-hidden($extend: false);
  }

  tr {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid color("medium-grey");
  }

  td, th {
    padding-left: 0 !important;

    &::before {
      content: attr(data-label) ': ';
      text-transform: capitalize;
      font-weight: bold;
    }

    p {
      display: inline;
    }
  }
}

/**
 * Lists
 */
.list-unstyled {
  padding-left: 0;
  list-style: none;
  line-height: 1.5;
}

/**
 * Main container
 */
.container {
  @include clearfix;
  max-width: 100%;
  width: 1170px;
  margin: 0 auto;
  padding: 0 2em;
}

/**
 * Visually-hidden
 */
.visually-hidden {
  @include visually-hidden;
}