/**
 * Univeral box-sizing reset
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Base font size
 */
html {
  font-size: 62.5%;
}

/**
 * Body rules
 */
body {
  font: 1.6em/1.35 'Ubuntu', 'Helvetica', sans-serif;
  overflow: auto;
  margin: 0;
  background-color: color("light-grey");

  @include respond-to("medium") {
    background: linear-gradient(to right, color("dark-grey") 50%, color("light-grey") 50%);
  }
}

/**
 * Links
 */
a {
  transition: .15s;
  text-decoration: none;
  color: color("pink");
  
  &:hover {
    &, code {
      color: color("dark-grey");
    }
  }
}
