// Returns first element of $list
// ---
// @ignore Documentation: http://sassylists.com/documentation/#first
// ---
// @param {List} $list - list to retrieve first item from
// ---
// @throws Cannot find first item of empty list.
// ---
// @returns {Literal | false}

@function first($list) {
  @if length($list) == 0 {
    @warn "Cannot find first item of empty list.";
    @return false;
  }

  @return nth($list, 1);
}

// @alias first

@function head($list) {
  @return first($list);
}