/**
 * Returns a list of shared value from `$list` and `$lists` minus duplicates
 * ---
 * @since 0.4.0
 * ---
 * @ignore Documentation: http://sassylists.com/documentation/#intersection
 * ---
 * @param {List}    $list  - first list
 * @param {ArgList} $lists - other lists
 * ---
 * @returns {List}
 */
@function intersection($list, $lists...) {
  $result: $list;

  @each $list in $lists {
    $temp: ();

    @each $item in $result {
      @if not not index($list, $item) {
        $temp: append($temp, $item, list-separator($list));
      }
    }

    $result: $temp;
  }

  $result: remove-duplicates($result);
  @return if(length($result) == 1, nth($result, 1), $result);
}