/**
 * Univeral box-sizing reset
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Base font size
 */
html {
  font-size: 62.5%;
}

/**
 * Body rules
 */
body {
  font: 1.6em/1.35 'Ubuntu', 'Helvetica', sans-serif;
  overflow: auto;
  margin: 0;
  counter-reset: sections;
  padding-bottom: 5em;
}

/**
 * Links
 */
a {
  transition: .15s;
  text-decoration: none;
  color: #c6538c;
}

a:hover code,
a:hover {
  color: #333;
}

/**
 * Main container
 */
.container {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1em;
  max-width: 100%;
}

/**
 * Header
 */
.sassdoc__header {
  padding: 1em;
  background: #c6538c;
  color: white;
  margin-bottom: 2em;
  border-bottom: 0.5em solid #f2d9e6;
}

/**
 * Main title
 */
.sassdoc__title {
  font-size: 1em;
  margin: 0;
  float: left;
}

/**
 * Item count
 */
.sassdoc__count {
  float: right;
  margin: 0;
}

@media (min-width: 600px) {
  /**
   * Doc map
   */
  .sassdoc__map {
    width: 27%;
    float: left;
  }  
}

/**
 * Map main wrapper
 */
.sassdoc__map-container {
  padding: .5em 0;
  background-color: #f7f5fa;
}

/**
 * Map list
 */
.sassdoc__map ul {
  list-style: none;
  padding: 0 1.5em;
}

.sassdoc__map li {
  line-height: 1.5;
}

/**
 * Map link
 */
.sassdoc__map a {
  font-weight: 500;
  color: #699;
  text-decoration: none;
}

.sassdoc__map .annotation {
  color: #b08c99;
}

/**
 * Map heading
 */
.sassdoc__map-heading {
  color: #333;
  font-size: 1.2em;
  margin-top: 0;
  
}

/**
 * List item section
 */
.sassdoc__map-section a {
  font-weight: 500;
  display: block;
  color: #c7254e;
  margin-top: 1em;
}

@media (min-width: 600px) {
  /**
   * Main wrapper
   */
  .sassdoc__container {
    width: 70%;
    float: right;
    margin-top: 1.25em;
  }
}

/**
 * Main titles
 */
.sassdoc__section {
  color: #555;
  background-color: #f7f5fa;
  padding: 1em;
  text-transform: uppercase;
  counter-increment: sections;
  border-bottom: .3em solid #c69;
}

.sassdoc__section::before {
  content: counter(sections) '. ';
}

.sassdoc__section.no-counter::before {
  content: none;
}

/**
 * Code blocks
 */
.sassdoc__item-code {
  border-left: .3em solid #c69;
  display: block;
  word-wrap: break-word;
  line-height: 1.42;
}

/**
 * Inline code
 */
.sassdoc :not(pre) > code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}

/**
 * Deprecated flag
 */
.sassdoc__item-deprecated {
  color: #998099;
  font-size: .7em;
  text-transform: uppercase;
}

/**
 * Type
 */
.sassdoc__item-type {
  color: #bbb;
  text-transform: capitalize;
  font-size: .75em;
}

/**
 * Aliases
 */ 
.sassdoc__item-alias {
  color: #bbb;
  font-size: .8em;
}

/**
 * Subtitles
 */
.sassdoc__item h3 {
  color: #699;
  text-transform: uppercase;
  font-size: 1em;
}

/**
 * Function name
 */
.sassdoc__item-name {
  color: #699;
  font-size: 2.2em;
  margin: 0 0 .5em 0;
  font-weight: normal;
}

/**
 * Paragraph content
 */ 
.sassdoc__item p {
  margin: 0 0 .5em 0;
}

/**
 * Space between docs
 */
.sassdoc__item + .sassdoc__item {
  margin: 4em 0;
}

/**
 * Parameters table
 */
@media (max-width: 600px) {
  table, tbody, tr, td, th {
    display: block;
  }

  thead {
    display: none;
  }

  td::before {
    content: attr(data-label) ': ';
    text-transform: capitalize;
    font-weight: bold;
  }

  td p {
    display: inline;
  }

  td {
    padding-left: 0 !important;
  }

  tr {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid #ddd;
  }
}

.sassdoc__item-parameters {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
}

.sassdoc__item-parameters > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  border-top: none;
  text-align: left;
}

.sassdoc__item-parameters td,
.sassdoc__item-parameters th {
  padding: .5em;
  vertical-align: top;
}

@media (min-width: 600px) {
  .sassdoc__item-parameters > tbody > tr:first-of-type > td {
    border-top: none;
  }

  .sassdoc__item-parameters td,
  .sassdoc__item-parameters th {
    border-top: 1px solid #ddd;
  }
}

/**
 * Scope/access
 */ 
.sassdoc__item-access {
  text-transform: capitalize;
}

/**
 * Since
 */

.sassdoc__item-since {
  float: right;
  font-size: .5em;
  padding-top: .75em;
  color: #ccc;
}

/**
 * Lists
 */
.sassdoc__item-usedby,
.sassdoc__item-todos,
.sassdoc__item-throws,
.sassdoc__item-links,
.sassdoc__item-requires {
  padding-left: 0;
  list-style: none;
}

/* http://prismjs.com/download.html?themes=prism&languages=css+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;


  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}


.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}
