/**
 * Footer
 */
.footer {
  background: color("light-grey");
  padding: 1em 0;
}

/**
 * Project info
 */
.footer__project-info {
  float: left;
}

/**
 * "Built with SassDoc" mark.
 */
.footer__watermark {
  float: right;
}

/**
 * Make all three spans inline-blocks
 */
.project-info__name,
.project-info__version,
.project-info__license {
  @include inline-block;
}

/**
 * Make extra informations less prominent
 */
.project-info__version,
.project-info__license {
  color: #555;
}

/**
 * Negates a space width
 */
.project-info__license {
  text-indent: -.25em;
}
