/**
 * Header
 */
.sassdoc__header {
  padding: 1em;
  background: color("pink");
  color: white;
  margin-bottom: 2em;
  border-bottom: 0.5em solid #f2d9e6;
}

/**
 * Main title
 */
.sassdoc__title {
  font-size: 1em;
  margin: 0;
  float: left;

  a {
    color: white;

    &:hover {
      color: color("light-grey");
    }
  }
}

/**
 * Item count
 */
.sassdoc__count {
  float: right;
  margin: 0;
}