/**
 * Header
 */
.header {
  padding: 1em;
  background: color("pink");
  color: white;
  
  @include respond-to("medium") {
    border-bottom: 0.5em solid color("light-grey");
  }
}

/**
 * Main title
 */
.header__title {
  font-size: 1em;
  margin: 0;
  float: left;
  font-weight: 500;

  a {
    color: white;

    &:hover {
      color: color("light-grey");
    }
  }
}

/**
 * Item count
 */
.header__item-count {
  float: right;
  margin: 0;
}
