/**
 * Header
 */
.header {
  @include clearfix;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  padding: 1em 0;
  background: color("pink");
  color: color("light-grey");
}

/**
 * Main title
 */
.header__title {
  font-weight: 500;
  text-align: center;
  margin: 0 0 .5em 0;

  a {
    color: color("light-grey");
  }

  @include respond-to("medium") {
    float: left;
    font-size: 1em;
    margin-top: .25em;
    margin-bottom: 0;
  }
}

/**
 * Item count
 */
.header__description {
  float: left;
  padding-top: .3em;

  * {
    margin: 0;
  }
}
