/**
 * Main wrapper
 */
.main {
  background: color("light-grey");
  position: relative;
  padding-bottom: 3em;

  @include respond-to("medium") {
    padding-left: 2em;
    width: 70%;
    float: right;
    box-shadow: -.5em 0 0 color("light-grey");
    border-left: .5em solid color("dark-grey");
    padding-top: .9em;
  }
}

/**
 * Main titles
 */
.main__heading {
  color: color("dark-grey");
  padding: .5em;
  text-transform: uppercase;
  border-bottom: .3em solid color("pink");
  font-size: 1.5em;

  @include respond-to("medium") {
    padding: .5em 0;
  }
}
