/**
 * Main wrapper
 */
.main {
  background: color("white");
  position: relative;
  padding-bottom: 3em;

  @include respond-to("medium") {
    padding-left: $sidebar-width;
    width: 100%;
    float: left;
    min-height: 45em;
  }
}

/**
 * Main titles
 */
.main__heading {
  color: color("dark-grey");
  padding: 1em .5em;
  margin-top: 0;
  font-size: 3em;
  font-weight: 300;

  @include respond-to("medium") {
    padding: 2em 0 0;
  }
}