.searchbar {
  @include clearfix;
  display: inline-block;
  float: right;

  @include respond-to(small) {
    display: block;
    float: none;
  }
}

.searchbar__form {
  float: right;
  position: relative;

  @include respond-to(small) {
    float: none;
  }

  @include respond-to(medium) {
    min-width: 15em;
  }
}

.searchbar__field {
  border: none;
  padding: .5em;
  font-size: 1em;
  margin: 0;
  width: 100%;
  @include card(1);
}

.searchbar__suggestions {
  @include absolute(top 100% right 0 left 0);
  @include card(1);
  background: white;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: z("default") + 1;

  &:empty {
    display: none;
  }

  .selected {
    background: color("medium-grey");
  }

  li {
    border-bottom: 1px solid color("light-grey");

    &:last-of-type {
      border: none;
    }
  }

  a {
    display: block;
    padding: .5em;
    font-size: .9em;

    &:focus,
    &:active,
    &:hover {
      background: color("light-grey");
    }
  }

  code {
    margin-right: .5em;
  }
}