/**
 * Sidebar
 */
.sidebar {
  background: color("dark-grey");
  padding: 1em 0;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    background: color("dark-grey");
    width: 1em;
    top: 0;
    bottom: 0;
    right: 100%;
  }

  &::before {
    left: 100%;
  }

  @include respond-to("medium") {
    width: 30%;
    float: left;
    text-align: right;
    padding: 3em 0;

    &::before,
    &::after {
      content: none;
    }
  }
}

/**
 * Private and alias annotations
 */
.sidebar__annotation {
  color: color("purple");
}

/**
 * Map main wrapper
 */
.sidebar__body {
  padding: .5em 0;
  margin-bottom: 1em;

  li {
    padding: 0 1.5em 0 .5em;
  }

  a {
    color: darken(color("light-grey"), 15%);
    text-decoration: none;

    &:hover {
      color: color("green");
    }
  }
}

/**
 * Sidebar heading
 */
.sidebar__heading {
  color: color("light-grey");
  font-size: 1.2em;
  margin: 0;
  padding-right: 1.2em;
  text-transform: uppercase;
}

/**
 * List item heading
 */
.sidebar__sub-heading {
  background: color("light-grey");
  margin-top: 1em;
  margin-bottom: .5em;

  a {
    display: block;
    color: color("pink");
    padding: .5em 0;
    text-transform: uppercase;
  }
}

/**
 * Project description
 */
.sidebar__description {
  color: color("light-grey");
  padding-right: 1.5em;
}
