/**
 * Sidebar
 */
.sidebar {
  @include respond-to("medium") {
    overflow: auto;
    @include fixed(top 0 bottom 0 left 0);
    width: $sidebar-width;
    z-index: z("default") + 1;
    border-right: 1px solid color("light-grey");
  }
}

/**
 * Private and alias annotations
 */
.sidebar__annotation {
  color: color("purple");
}

/**
 * Sidebar content
 */
.sidebar__body {
  padding: .5em 0;
  margin-bottom: 1em;
  overflow: auto;
  font-size: .9em;

  a {
    padding: .5em 1em .5em 2em;
    display: block;
    text-decoration: none;
    color: color("dark-grey");

    &:hover {
      background: color("light-grey");
    }
  }
}

/**
 * List item heading
 */
li.sidebar__sub-heading {

  a {
    padding: 1em 0 1em 1em;
    font-weight: bold;
  }
}

/**
 * Project description
 */
.sidebar__description {
  color: color("light-grey");
  padding-right: 2em;
}

  
.sidebar__header {
  border-bottom: 1px solid color("light-grey");
}

.sidebar__title {
  font-size: 1em;
  margin: 0;
  padding: 1em;
}