/**
 * Sidebar
 */
.sidebar {
  background: color("dark-grey");
  padding: 1em 0;
  position: relative;

  &::after,
  &::before {
    @include absolute(top 0 bottom 0 right 100%);
    content: '';
    background: color("dark-grey");
    width: 1em;
  }

  &::before {
    left: 100%;
  }

  @include respond-to("medium") {
    width: 25%;
    float: left;
    text-align: right;
    padding: 2.5em 0;

    &::before,
    &::after {
      content: none;
    }
  }
}

/**
 * Private and alias annotations
 */
.sidebar__annotation {
  color: color("purple");
}

/**
 * Sidebar content
 */
.sidebar__body {
  padding: .5em 0;
  margin-bottom: 1em;

  li {
    padding: 0 2em 0 .5em;
    color: color("light-grey");
  }

  a {
    color: color("light-grey");
    text-decoration: none;

    &:hover {
      color: color("green");
    }
  }
}

/**
 * Sidebar heading
 */
.sidebar__heading {
  color: color("light-grey");
  font-size: 1.2em;
  margin: 0;
  padding-right: 1.6em;
  text-transform: uppercase;
}

/**
 * List item heading
 */
.sidebar__sub-heading {
  background: color("light-grey");
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  
  &::before {
    content: '';
    @include absolute(right 100% top 0 bottom 0);
    width: 100em;
    background: inherit;
  }

  a {
    display: block;
    color: color("dark-grey");
    padding: .5em 0;
    text-transform: uppercase;
  }
}

/**
 * Project description
 */
.sidebar__description {
  color: color("light-grey");
  padding-right: 2em;
}
